body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: aquamarine;
}
main {
  max-width: 600px;
  margin: 25px auto;
  text-align: center;
  padding: 20px;
}
p {
  line-height: 30px;
}
img {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
